@model IEnumerable<Library.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a><br>
    <a asp-action="ShowAllSorted">Show all books in alphabetical order.</a><br>
    <a asp-action="ShowAllReserved">Show reserved books.</a><br>
    <a asp-action="ShowAllAvailable">Show available books.</a><br>
    <a asp-action="GetFile">Load File</a><br>
    <a asp-action="SaveFile">Save File</a><br>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsReserved)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReserved)
            </td>
            <td>
                <a asp-action="Reservation" asp-route-id="@item.Id">Reservation</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
            </td>
        </tr>
}
    </tbody>
</table>
